/* google-autocomplete.css */
.pac-container {
    @apply bg-white border border-gray-300 shadow-lg rounded-lg;
  }
  
  .pac-item {
    @apply px-4 py-2 cursor-pointer hover:bg-gray-100;
  }
  
  .pac-item-query {
    @apply text-gray-500;
  }
  